# EDA

In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet("../data/processed/m4_daily_sampled.parquet")

In [4]:
df.head()

  M4id      value  time_idx category     SP
0   D1  1017.1000         0    Macro  Daily
1   D4  1092.0000         0    Macro  Daily
2   D5  2938.6300         0    Macro  Daily
3   D6   153.7315         0    Macro  Daily
4   D7   131.6280         0    Macro  Daily